.App {
  text-align: center;
}

.image-container img {
  width: 360px;
  height: auto;
  display: block;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.master-container {
  width: 100%;
  text-align: center;
}

.bab-container h1 {
  margin: 0;
}

.bab-container a {
  text-decoration: none;
}

.bab-container iframe {
  width: 360px;
  height: 480px;
}

.bab-container a p {
  margin: 0;
  background-color: lime;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.bab-container a p:hover {
  background-color: yellow;
}

.bab-container:nth-child(even) {
  background-color: lightblue;
}
.bab-container:nth-child(odd) {
  background-color: pink;
}